
<form action="/charge" method="post">
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="pk_test_51LBavkJmXMB6bamc7wDWd8oWC8q4YaWHMBE7XO5sXMU3keqBiDAX44kKQXpaFQdt7VMwWiAVT1Pqno21lCxSIJpq00rh4BFs24"
    data-amount="1000"
    data-currency="usd"
    data-name="Example"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
</form>